.footer {
  padding: 2rem;
  background: #fff;
  color: #000000;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.socials {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.socials a {
  color: #020000;
  text-decoration: underline;
}

